.App {
  text-align: center;
}




.weather-section{
  background-color: #282c34;
  width: 40%;
  margin: 5em auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 4em 3em;
}

.current-weather{
  border: 1px solid #ddd;
  background-color: #101010;
}